.Contenedor{
    width: 450px;
    display: inline-block;
    margin: 15px;
    border-radius: 20px;
    border: 10px solid antiquewhite;
}
.Card-nombre{
  text-decoration: none;
  background-color: antiquewhite;
  padding: 5px;
  box-shadow: 12px 12px 20px 0 black;
  border-radius: 12px;
  text-align: center;
  color:black;
  font-weight: 800;
  display: grid;
}
.Card-img{
    width: 330px;
    height: 290px;
}

.Card-temperament{
  text-decoration: none;
  background-color: antiquewhite;
  padding: 5px;
  box-shadow: 12px 12px 20px 0 black;
  border-radius: 12px;
  text-align: center;
  color:black;
  font-weight: 800;
}

.Card-weight{
  text-decoration: none;
  background-color: antiquewhite;
  padding:2px 18px 2px 18px ;
  box-shadow: 12px 12px 20px 0 black;
  border-radius: 12px;
  text-align: center;
  color:black;
  font-weight: 800;
  display: inline;
}

.button.detalle{
	text-align: center;
}
